

<nav class="iq-sidebar-menu">
    <ul id="iq-sidebar-toggle" class="iq-menu">
        <li class="{% if app.request.attributes.get('_route') in [ 'dashboard_super_admin'] %} active {% endif %}">
            <a href="{{ path('dashboard_super_admin') }}" class="svg-icon">
                <svg class="svg-icon" id="p-dash1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
                <span class="ml-4">Tableau de bord</span>
            </a>
        </li>

{#        <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement'] %} active {% endif %}">#}
{#            <a href="{{ path('index_departement') }}" class="svg-icon">#}
{#                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"#}
{#                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"#}
{#                     stroke-linecap="round" stroke-linejoin="round">#}
{#                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>#}
{#                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>#}
{#                </svg>#}
{#                <span class="ml-4">Départements</span>#}
{#            </a>#}
{#        </li>#}


{#        <li class="{% if app.request.attributes.get('_route') in [ 'index_category' , 'add_category'] %} active {% endif %}">#}
{#            <a href="{{ path('index_category') }}" class="svg-icon">#}
{#                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"#}
{#                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"#}
{#                     stroke-linecap="round" stroke-linejoin="round">#}
{#                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>#}
{#                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>#}
{#                </svg>#}
{#                <span class="ml-4">Categories</span>#}
{#            </a>#}
{#        </li>#}

        <li class="{% if app.request.attributes.get('_route') in [ 'add_article' , 'index_article'] %} active {% endif %}">
            <a href="{{ path('index_article') }}" class="svg-icon">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Articles</span>
            </a>
        </li>
        <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_achat'] %} active {% endif %}">
            <a href="#achat" class="collapsed" data-toggle="collapse" aria-expanded="{% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement'] %} true {% else%} false {% endif %}">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Achat</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="achat" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' ] %} active {% endif %}">
                    <a href="{{ path('index_departement') }}">
                        <i class="las la-minus"></i><span>Liste des achats</span>
                    </a>
                </li>
            </ul>        <ul id="achat" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_achat'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' ] %} active {% endif %}">
                    <a href="{{ path('add_achat') }}">
                        <i class="las la-minus"></i><span>Nouvelle Achat</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement'] %} active {% endif %}">
            <a href="#departement" class="collapsed" data-toggle="collapse" aria-expanded="{% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement'] %} true {% else%} false {% endif %}">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Stock</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="departement" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' ] %} active {% endif %}">
                    <a href="{{ path('index_departement') }}">
                        <i class="las la-minus"></i><span>Modifier stock par article</span>
                    </a>
                </li>
            </ul>        <ul id="departement" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' ] %} active {% endif %}">
                    <a href="{{ path('index_departement') }}">
                        <i class="las la-minus"></i><span>Modifier stock</span>
                    </a>
                </li>
            </ul>
        </li>



        <li class="{% if app.request.attributes.get('_route') in [ 'index_client' , 'add_client'] %} active {% endif %}">
            <a href="{{ path('index_client') }}" class="svg-icon">
                <svg class="svg-icon" id="p-dash8" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span class="ml-4">Prix</span>
            </a>
        </li>


{#        <li class="{% if app.request.attributes.get('_route') in [ 'index_fournisseur' , 'add_fournisseur'] %} active {% endif %}">#}
{#            <a href="{{ path('index_fournisseur') }}" class="svg-icon">#}
{#                <svg class="svg-icon" id="p-dash8" width="20" height="20" xmlns="http://www.w3.org/2000/svg"#}
{#                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"#}
{#                     stroke-linecap="round" stroke-linejoin="round">#}
{#                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>#}
{#                    <circle cx="9" cy="7" r="4"></circle>#}
{#                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>#}
{#                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>#}
{#                </svg>#}
{#                <span class="ml-4">Fournisseurs</span>#}
{#            </a>#}
{#        </li>#}

{#        <li class="{% if app.request.attributes.get('_route') in [ 'index_produit' , 'add_produit'] %} active {% endif %}">#}
{#            <a href="{{ path('index_produit') }}" class="svg-icon">#}
{#                <svg class="svg-icon" id="p-dash8" width="20" height="20" xmlns="http://www.w3.org/2000/svg"#}
{#                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"#}
{#                     stroke-linecap="round" stroke-linejoin="round">#}
{#                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>#}
{#                    <circle cx="9" cy="7" r="4"></circle>#}
{#                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>#}
{#                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>#}
{#                </svg>#}
{#                <span class="ml-4">Produits</span>#}
{#            </a>#}
{#        </li>#}


{#        <li class="{% if app.request.attributes.get('_route') in [ 'index_user' , 'add_user'] %} active {% endif %}">#}
{#            <a href="{{ path('index_user') }}" class="svg-icon">#}
{#                <svg class="svg-icon" id="p-dash8" width="20" height="20" xmlns="http://www.w3.org/2000/svg"#}
{#                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"#}
{#                     stroke-linecap="round" stroke-linejoin="round">#}
{#                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>#}
{#                    <circle cx="9" cy="7" r="4"></circle>#}
{#                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>#}
{#                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>#}
{#                </svg>#}
{#                <span class="ml-4">Utilisateurs</span>#}
{#            </a>#}
{#        </li>#}

    </ul>
</nav>
