<ul class="main-menu">
    <li class="sub-header">
        <span>Layouts</span>
    </li>
    <li class="{% if app.request.attributes.get('_route') in [ 'dashboard_personelle' ] %} selected {% endif %} has-sub-menu">
        <a href="#">
            <div class="icon-w">
                <div class="icon-list {% if app.request.attributes.get('_route') in [ 'dashboard_personelle'] %}  color_fa_menu onglet_active color_fa_menu {% endif %}"></div>
            </div>
            <span>Vente</span></a>
        <div class="sub-menu-w">
            <div class="sub-menu-i">
                <ul class="sub-menu">
                    <li>
                        <a href="#">Bon de Livraison</a>
                        <a href="#">Facture</a>
                        <a href="#">Devis</a>
                        <a href="#">Convert BL vers Facture</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>

    <li class="{% if app.request.attributes.get('_route') in [ 'perso_index_client' , 'perso_add_client', 'perso_edit_client'] %} selected {% endif %}">
        <a href="{{ path('perso_index_client') }}">
            <div class="icon-w">

                <div class="icon-organization {% if app.request.attributes.get('_route') in ['perso_index_client' ,  'perso_add_client', 'perso_edit_client'] %}  color_fa_menu onglet_active color_fa_menu {% endif %}"></div>
            </div>
            <span>Client</span></a>

    </li>
    {#    <li class="{% if app.request.attributes.get('_route') in [ 'index_departement' , 'add_departement' , 'edit_departement' ] %} selected {% endif %}">#}
    {#        <a href="{{ path('index_departement') }}">#}
    {#            <div class="icon-w">#}
    {#                <div class="icon-screen-tablet {% if app.request.attributes.get('_route') in ['index_departement' , 'add_departement' , 'edit_departement'] %}  color_fa_menu onglet_active color_fa_menu {% endif %}"></div>#}
    {#            </div>#}
    {#            <span>Département</span></a>#}

    {#    </li>#}
    {#    <li class="{% if app.request.attributes.get('_route') in [ 'index_user' , 'edit_user' , 'add_user' ] %} selected {% endif %}">#}
    {#        <a href="{{ path('index_user') }}">#}
    {#            <div class="icon-w">#}
    {#                <div class="icon-lock-open {% if app.request.attributes.get('_route') in ['index_user' ,'edit_user' , 'add_user'] %}  color_fa_menu onglet_active color_fa_menu {% endif %}"></div>#}
    {#            </div>#}
    {#            <span>Comptes</span></a>#}

    {#    </li>#}


    <li class="{% if app.request.attributes.get('_route') in [ 'perso_detail_articles' ] %} selected {% endif %} has-sub-menu">
        <a href="#">
            <div class="icon-w">
                <div class="icon-list {% if app.request.attributes.get('_route') in [ 'perso_detail_articles'] %}  color_fa_menu onglet_active color_fa_menu {% endif %}"></div>

            </div>
            <span>Article</span></a>
        <div class="sub-menu-w">

            <div class="sub-menu-i">
                <ul class="sub-menu">

                    <li>
                        <a href="{{ path('perso_detail_articles') }}"
                           style="{% if app.request.attributes.get('_route') in ['perso_detail_articles'] %} color: #0a7cf8 ; font-weight: bold{% endif %}">Liste des prix</a>
                    </li>
                    <li>
                        <a href="{{ path('perso_index_article') }}"
                           style="{% if app.request.attributes.get('_route') in ['perso_index_articles'] %} color: #0a7cf8 ; font-weight: bold{% endif %}">Liste des articles</a>
                    </li>
                    <li>
                        <a href="{{ path('perso_index_stock') }}"
                           style="{% if app.request.attributes.get('_route') in ['perso_detail_articles'] %} color: #0a7cf8 ; font-weight: bold{% endif %}">Stock</a>
                    </li>


                </ul>
            </div>
        </div>
    </li>


    <li class="{% if app.request.attributes.get('_route') in [ 'perso_index_inventaire'] %} selected {% endif %} has-sub-menu">
        <a href="{{ path('perso_index_inventaire') }}">
            <div class="icon-w">
                <div class="icon-note {% if app.request.attributes.get('_route') in ['perso_index_stock'] %}  color_fa_menu onglet_active color_fa_menu {% endif %}"></div>
            </div>
            <span>Inventaire</span></a>
    </li>

</ul>
