{% extends 'base.html.twig' %}

{% block title %} Liste des articles {% endblock %}

{% block stylesheets %}

{% endblock %}

        {% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Liste des articles </h4>

                            </div>
                            {#                            <a href="{{ path('add_fournisseur') }}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Ajouter Fournisseur  </a>#}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive rounded mb-3">
                            {{ include('default/FlashBag/flashBag.html.twig') }}

                            <table class="data-table table_prix table mb-0 tbl-server-info">
                                <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data">

                                    <th>Réf article</th>
                                    <th>Designation</th>
                                    <th>Pu achat HT</th>
                                    <th>Pu achat TTC</th>
                                    <th>Pu vente HT</th>
                                    <th>Pu vente HT</th>
                                    <th>Tva</th>
                                    <th>Taux benefice</th>
                                </tr>
                                </thead>
                                <tbody class="ligth-body">


                                {% for p in prixs %}
                                    <tr>
                                        <td>{{ p.article.ref }}</td>
                                        <td>{{ p.article.description }}</td>
                                        <td>{{ p.puAchaHT|number_format(3) }}</td>
                                        <td width="8%">{{ p.phAchatTTC|number_format(3) }}</td>
                                        <td>{{ p.puVenteHT|number_format(3) }}</td>
                                        <td>{{ p.puVenteTTC|number_format(3) }}</td>
                                        <td>{{ p.tva|number_format(1) }}</td>
                                        <td>{{ p.taux|number_format(3) }}</td>



                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Page end  -->
            </div>


        {% endblock %}


{% block javascripts %}
    <script src="{{ asset('app/js/superAdmin/prix/prix.js') }}"></script>

{% endblock %}