{% extends 'base.html.twig' %}

{% block title %} Liste des prixs {% endblock %}

{% block stylesheets %}

{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="{{ path('dashboard_super_admin') }}">Tableau de bord</a>
               </li>
               <li class="breadcrumb-item">
                   <a href="#">prixs</a>
               </li>
               <li class="breadcrumb-item">
                   <span>Liste</span>
               </li>
           </ul>
       {% endblock %}

        {% block content %}

            <div class="element-wrapper">
                <h6 class="element-header">
                    Liste des prix
                </h6>
                {{ include('default/FlashBag/flashBag.html.twig') }}
                {{ include('superAdmin/prix/_modalConfireChangePrix.html.twig') }}

                <div class="element-box">


                    <div class="table-responsive">

                        <table id="dataTable1" width="100%" class="table table_prix table-striped table-lightfont">
                            <thead>
                            <tr>
                                <th>Réf article</th>
                                <th>Designation</th>
                                <th>Qte</th>
                                <th>Pu achat HT</th>
                                <th>Pu achat TTC</th>
                                <th>Pu vente HT</th>
                                <th>Pu vente TTC</th>
                                <th>Tva</th>
                                <th>Taux benefice</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Réf article</th>
                                <th>Designation</th>
                                <th>Qte</th>
                                <th>Pu achat HT</th>
                                <th>Pu achat TTC</th>
                                <th>Pu vente HT</th>
                                <th>Pu vente TTC</th>
                                <th>Tva</th>
                                <th>Taux benefice</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                            <tbody class="ligth-body">
                            {% for p in prixs %}
                                <tr>
                                    <td>{{ p.article.ref }}</td>
                                    <td>{{ p.article.description }}</td>
                                    <td><b>{{ p.qte }}</b></td>
                                    <td width="10%"><input type="text" class="form-control pachatnet pachatnet_{{ loop.index }}" id="puAchaHT_{{ p.id }}" data-index="{{ loop.index }}"
                                               value="{{ p.puAchaHT|number_format(3) }}"></td>
                                    <td width="10%"><input type="text" class="form-control pachatttc_{{ loop.index }}" id="phAchatTTC_{{ p.id }}" disabled
                                                          value="{{ p.phAchatTTC|number_format(3) }}"></td>
                                    <td width="10%"><input type="text" class="form-control pventeht_{{ loop.index }}" id="puVenteHT_{{ p.id }}" disabled
                                               value="{{ p.puVenteHT|number_format(3) }}"></td>
                                    <td width="10%"><input type="text" class="form-control pventettc pventettc_{{ loop.index }}" id="puVenteTTC_{{ p.id }}" data-index="{{ loop.index }}"
                                               value="{{ p.puVenteTTC|number_format(3) }}"></td>
                                    <td width="10%"><input type="text" class="form-control" id="tva_{{ p.id }}" disabled
                                               value="{{ p.tva|number_format(1) }}" readonly></td>
                                    <td width="10%"><input type="text" class="form-control taux_{{ loop.index }}" id="taux_{{ p.id }}" disabled
                                               value="{{ p.taux|number_format(3) }}"></td>
                                    <td width="5%">
                                        <div class="d-flex align-items-center list-action">
                                            <a class="  btn btn-sm btn-icon btn-success modifierPrix"
                                               data-toggle="tooltip"
                                               data-id_article = "{{  p.article.id}}"
                                               data-index="{{ loop.index }}"
                                               data-placement="top" title="" data-original-title="Modifier"
                                               style="color: white"
                                               href="#"
                                            >
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="  btn btn-sm btn-icon btn-danger AnnulerModif"
                                               data-toggle="tooltip"
                                               data-placement="top" title="" data-original-title="Annuler"
                                               data-id_article =" {{  p.article.id}}"

                                               style="color: white"
                                               href="#"
                                            >
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        {% endblock %}


{% block javascripts %}
    <script src="{{ asset('app/js/superAdmin/prix/prix.js') }}"></script>

{% endblock %}