{% extends 'base.html.twig' %}

{% block title %} Liste des prixs {% endblock %}

{% block stylesheets %}

{% endblock %}

        {% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Liste des prixs </h4>

                            </div>
                            {#                            <a href="{{ path('add_fournisseur') }}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Ajouter Fournisseur  </a>#}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive rounded mb-3">
                            {{ include('default/FlashBag/flashBag.html.twig') }}

                            <table class="data-table table_prix table mb-0 tbl-server-info">
                                <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data">

                                    <th>Réf article</th>
                                    <th>Designation</th>
                                    <th>Pu achat HT</th>
                                    <th>Pu achat TTC</th>
                                    <th>Pu vente HT</th>
                                    <th>Pu vente HT</th>
                                    <th>Tva</th>
                                    <th>Taux benefice</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="ligth-body">


                                {% for p in prixs %}
                                    <tr>
                                        <td>{{ p.article.ref }}</td>
                                        <td>{{ p.article.description }}</td>
                                        <td><input type="number" class="form-control" id="puAchaHT_{{ p.id }}" value="{{ p.puAchaHT|number_format(3) }}"></td>
                                        <td width="8%"><input type="number" class="form-control" id="phAchatTTC_{{ p.id }}" value="{{ p.phAchatTTC|number_format(3) }}"></td>
                                        <td><input type="number" class="form-control" id="puVenteHT_{{ p.id }}" value="{{ p.puVenteHT|number_format(3) }}"></td>
                                        <td><input type="number" class="form-control" id="puVenteTTC_{{ p.id }}" value="{{ p.puVenteTTC|number_format(3) }}"></td>
                                        <td><input type="text" class="form-control" id="tva_{{ p.id }}" value="{{ p.tva|number_format(1) }}" readonly></td>
                                        <td><input type="number" class="form-control" id="taux_{{ p.id }}" value="{{ p.taux|number_format(3) }}"></td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
{#                                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Détail" href="#"><i class="ri-eye-line mr-0"></i></a>#}
                                                <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier" href="#"><i class="fa fa-pen"></i></a>
                                                <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Annuler" href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Page end  -->
            </div>


        {% endblock %}


{% block javascripts %}
    <script src="{{ asset('app/js/superAdmin/prix/prix.js') }}"></script>

{% endblock %}