{% extends 'base.html.twig' %}

{% block title %} {%  if fournisseur %} Modifier {% else%}  Ajouter {% endif %}un fournisseur {% endblock %}

{% block stylesheets %}

{% endblock %}
      {% block smenu %}
          <ul class="breadcrumb">
              <li class="breadcrumb-item">
                  <a href="{{ path('dashboard_super_admin') }}">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item">
                  <a href="{{path('index_fournisseur')}}">fournisseurs</a>
              </li>
              <li class="breadcrumb-item">
                  <span>{%  if fournisseur %} Modifier {% else%}  Ajouter {% endif %}</span>

              </li>
          </ul>
      {% endblock %}
        {% block content %}

            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                            {%  if fournisseur %}
                                {{ form_start(form,{'method': 'post', 'action': path('edit_fournisseur' , {id: fournisseur.id}),'attr': {'id': 'formValidate'}}) }}
                            {% else%}
                                {{ form_start(form,{'method': 'post', 'action': path('add_fournisseur'),'attr': {'id': 'formValidate'}}) }}
                            {% endif %}
                            <h5 class="form-header">
                                {%  if fournisseur %} Modifier {% else%}  Ajouter {% endif %}un fournisseur
                            </h5>
                            <div class="form-desc">
                                {{ include('default/FlashBag/flashBag.html.twig') }}

                            </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="pno">Code :</label>
                                {{ form_widget(form.code , {'attr': {'class' : 'form-control' , 'placeholder': 'Enter Code'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>

                            </div>




                            <div class="form-group col-md-6">
                                <label for="fname">Nom:</label>
                                {{ form_widget(form.nom ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter Nom'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="lname">Prénom:</label>
                                {{ form_widget(form.prenom ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter Prenom'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="add1">Adresse:</label>
                                {{ form_widget(form.adresse ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter adresse'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="add1">Pays:</label>
                                {{ form_widget(form.country ,{'attr': {'class' : 'form-control'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="add1">Ville:</label>
                                {{ form_widget(form.city ,{'attr': {'class' : 'form-control'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="add2">Téléphone:</label>
                                {{ form_widget(form.telephone ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter telephone'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email:</label>
                                {{ form_widget(form.email ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter email'}}) }}
                                <div class="help-block form-text with-errors form-control-feedback"></div>


                            </div>




                        </div>

                            <div class="form-buttons-w">

                                <button type="submit" class="btn btn-primary mr-2">{%  if fournisseur %} Modifier {% else%}  Enregistrer {% endif %}</button>
                                <button type="reset" class="btn btn-danger">Annuler</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        {% endblock %}


{% block javascripts %}
    <script>
        var $country= $('#fournisseur_country');

        $country.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            console.log($country.val());
            data[$country.attr('name')] = $country.val();

            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#fournisseur_city').replaceWith(
                        $(html).find('#fournisseur_city')
                    );
                }
            });
        });
    </script>

{% endblock %}
