<div class="step-content active" id="stepContent3">*
    <div class="payer">
        <div class="form-group">
            <h2 class="text-center">Type de paiement</h2>
            <h6 class="text-center type_pay" style="font-size: 30px; color: green; text-align: center; font-weight: bold">
                {% if invoice['existBl'] %}
                    {% if invoice['bonLivraison']['typePayement'] == 1 %}
                        Escpece
                    {% elseif invoice['bonLivraison']['typePayement'] == 2 %}
                        Cheque
                    {% elseif invoice['bonLivraison']['typePayement'] == 3 %}
                        Carte
                    {% endif %}
                {% else %}
                    {% if invoice['typePayement'] == 1 %}
                        Escpece
                    {% elseif invoice['typePayement'] == 2 %}
                        Cheque
                    {% elseif invoice['typePayement'] == 3 %}
                        Carte
                    {% endif %}

                {% endif %}
            </h6>

            <hr>
            <h2 class="text-center">Total TTC</h2>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h6 class="text-center">
                        <input width="50%" style="font-size: 30px; color: red; text-align: center; font-weight: bold"
                               class="form-control totalTTC" disabled  data-value={{ invoice['totalTTC'] }} value=" {{ invoice['totalTTC']|number_format(3) }}">

                    </h6>
                </div>
                <div class="col-md-4"></div>
            </div>
            <fieldset>
                <legend>Payer</legend>
                {% if invoice['existBl'] %}
                    {% if invoice['bonLivraison']['typePayement'] == 1 %}
                        {{ include('commercial/payement/include/_form_payer_espece.html.twig') }}
                    {% elseif invoice['bonLivraison']['typePayement'] == 2 %}
                        {{ include('commercial/payement/include/_form_cheque.html.twig') }}
                    {% endif %}
                {% else %}
                    {% if invoice['typePayement'] == 1 %}
                        {{ include('commercial/payement/include/_form_payer_espece.html.twig') }}
                    {% elseif invoice['typePayement'] == 2 %}
                        {{ include('commercial/payement/include/_form_cheque.html.twig') }}
                    {% endif %}
                {% endif %}
            </fieldset>
        </div>
        <div class="form-buttons-w text-right">
            <a class="btn btn-primary step-trigger-btn check-payer" style="color: white" > Payer</a>
        </div>
    </div>

</div>
