{% extends 'base.html.twig' %}

{% block title %} Liste des dépenses {% endblock %}

{% block stylesheets %}

{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="{{ path('dashboard_personelle') }}">Tableau de bord</a>
               </li>
               <li class="breadcrumb-item">
                   <a href="#">dépenses</a>
               </li>
               <li class="breadcrumb-item">
                   <span>Liste</span>
               </li>
           </ul>
       {% endblock %}

        {% block content %}

            <div class="element-wrapper">
                <h6 class="element-header">
                    Liste des dépennses
                </h6>
                {{ include('default/FlashBag/flashBag.html.twig') }}

                <div class="element-box">
                    <h5 class="form-header">
                        <a href="{{ path('perso_add_depense') }}" class="btn btn-primary add-list float-right mb-2"><i
                                    class="las la-plus mr-3"></i>Ajouter une dépense </a>

                    </h5>

                    <div class="form-desc">

                    </div>


                    <div class="table-responsive">

                        <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                            <thead>
                            <tr>
                                <th>Ajouter par</th>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Type</th>
                                <th>Designation</th>
                                <th>Total ttc</th>
                                {#                                <th>Actions</th>#}
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Ajouter par</th>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Type</th>
                                <th>Designation</th>
                                <th>Total ttc</th>
                                {#                                <th>Actions</th>#}
                            </tr>
                            </tfoot>
                            <tbody class="ligth-body">
                            {% for d in depenses %}
                                <tr>
                                    <td>{{ d.addedBy.firstName }} {{ d.addedBy.lastName }}</td>
                                    <td>{{ d.date|date('d/m/Y') }}</td>
                                    <td>{{ d.hour }}</td>
                                    <td>{% if d.type == "1" %}
                                            Carburant / Gasoil
                                        {% elseif  d.type == "2" %}
                                            Recharge téléphone
                                            {% elseif  d.type == "3" %}
                                                Avance
                                        {% endif %}


                                    </td>
                                    <td>{{ d.description }}</td>
                                    <td>{{ d.totalTTC }}</td>


                                    {#                                    <td width="5%">#}

                                    {#                                        <div class="d-flex align-items-center list-action">#}


                                    {#                                            <a class="  btn btn-sm btn-icon btn-success"#}
                                    {#                                               data-toggle="tooltip"#}
                                    {#                                               data-placement="top" title="" data-original-title="Modifier"#}
                                    {#                                               style="color: white"#}
                                    {#                                               href="{{ path('perso_edit_depense', {id: d.id}) }}"#}
                                    {#                                            >#}
                                    {#                                                <i class="fa fa-edit"></i>#}
                                    {#                                            </a>#}

                                    {#                                            <a class="  btn btn-sm btn-icon btn-danger"#}
                                    {#                                               data-toggle="tooltip"#}
                                    {#                                               data-placement="top" title="" data-original-title="Supprimer"#}
                                    {#                                               style="color: white"#}
                                    {#                                               onclick=" return confirm('Vous éte sur suprimer ce client')"#}

                                    {#                                               href="{{ path('perso_delete_client', {id: cl.id}) }}"#}
                                    {#                                            >#}
                                    {#                                                <i class="fa fa-trash"></i>#}
                                    {#                                            </a>#}

                                    {#                                        </div>#}
                                    {#                                    </td>#}

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        {% endblock %}


{% block javascripts %}

{% endblock %}