

<nav class="iq-sidebar-menu">
    <ul id="iq-sidebar-toggle" class="iq-menu">
        <li class="">
            <a href="{{ path('dashboard_super_admin') }}" class="svg-icon">
                <svg class="svg-icon" id="p-dash1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
                <span class="ml-4">Tableau de bord</span>
            </a>
        </li>

        <li class="{% if app.request.attributes.get('_route') in [ 'index_category' , 'add_category'] %} active {% endif %}">
            <a href="#category" class="collapsed" data-toggle="collapse" aria-expanded="{% if app.request.attributes.get('_route') in [ 'index_category' , 'add_category'] %} true {% else%} false {% endif %}">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Categories</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="category" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_category' , 'add_category'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_category' ] %} active {% endif %}">
                    <a href="{{ path('index_category') }}">
                        <i class="las la-minus"></i><span>List categorie</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') in [ 'add_category' ] %} active {% endif %}">
                    <a href="{{ path('add_category') }}">
                        <i class="las la-minus"></i><span>Ajouter categorie</span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="{% if app.request.attributes.get('_route') in [ 'index_client' , 'add_client'] %} active {% endif %}">
            <a href="#client" class="collapsed" data-toggle="collapse" aria-expanded="{% if app.request.attributes.get('_route') in [ 'index_client' , 'add_client'] %} true {% else%} false {% endif %}">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Clients</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="client" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_client' , 'add_client'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_client' ] %} active {% endif %}">
                    <a href="{{ path('index_client') }}">
                        <i class="las la-minus"></i><span>List client</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') in [ 'add_client' ] %} active {% endif %}">
                    <a href="{{ path('add_client') }}">
                        <i class="las la-minus"></i><span>Ajouter client</span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="{% if app.request.attributes.get('_route') in [ 'index_fournisseur' , 'add_fournisseur'] %} active {% endif %}">
            <a href="#fournisseur" class="collapsed" data-toggle="collapse" aria-expanded="{% if app.request.attributes.get('_route') in [ 'index_fournisseur' , 'add_fournisseur'] %} true {% else%} false {% endif %}">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Fournisseur</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="fournisseur" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_fournisseur' , 'add_fournisseur'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_fournisseur' ] %} active {% endif %}">
                    <a href="{{ path('index_fournisseur') }}">
                        <i class="las la-minus"></i><span>List fournisseur</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') in [ 'add_fournisseur' ] %} active {% endif %}">
                    <a href="{{ path('add_fournisseur') }}">
                        <i class="las la-minus"></i><span>Ajouter fournisseur</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="{% if app.request.attributes.get('_route') in [ 'index_produit' , 'add_produit'] %} active {% endif %}">
            <a href="#produit" class="collapsed" data-toggle="collapse" aria-expanded="{% if app.request.attributes.get('_route') in [ 'index_produit' , 'add_produit'] %} true {% else%} false {% endif %}">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Produits</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="produit" class="iq-submenu collapse {% if app.request.attributes.get('_route') in [ 'index_produit' , 'add_produit'] %} show {% endif %}" data-parent="#iq-sidebar-toggle">
                <li class="{% if app.request.attributes.get('_route') in [ 'index_produit' ] %} active {% endif %}">
                    <a href="{{ path('index_produit') }}">
                        <i class="las la-minus"></i><span>List produits</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') in [ 'add_produit' ] %} active {% endif %}">
                    <a href="{{ path('add_produit') }}">
                        <i class="las la-minus"></i><span>Ajouter produit</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class=" ">
            <a href="#people" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash8" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span class="ml-4">People</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="people" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a href="page-list-customers.html">
                        <i class="las la-minus"></i><span>Customers</span>
                    </a>
                </li>
                <li class="">
                    <a href="page-add-customers.html">
                        <i class="las la-minus"></i><span>Add Customers</span>
                    </a>
                </li>
                <li class="">
                    <a href="page-list-users.html">
                        <i class="las la-minus"></i><span>Users</span>
                    </a>
                </li>
                <li class="">
                    <a href="page-add-users.html">
                        <i class="las la-minus"></i><span>Add Users</span>
                    </a>
                </li>
                <li class="">
                    <a href="page-list-suppliers.html">
                        <i class="las la-minus"></i><span>Suppliers</span>
                    </a>
                </li>
                <li class="">
                    <a href="page-add-supplier.html">
                        <i class="las la-minus"></i><span>Add Suppliers</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" ">
            <a href="#sale" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash4" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                    <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                </svg>
                <span class="ml-4">Stock</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline>
                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="sale" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a href="page-list-sale.html">
                        <i class="las la-minus"></i><span>Entrer</span>
                    </a>
                </li>
                <li class="">
                    <a href="page-add-sale.html">
                        <i class="las la-minus"></i><span>Sortie</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>
