{% extends 'base.html.twig' %}

{% block title %} {%  if produit %} Modifier {% else%}  Ajouter {% endif %}un produit {% endblock %}

{% block stylesheets %}

{% endblock %}

        {% block content %}
            <div class="container-fluid add-form-list">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">{%  if produit %} Modifier {% else%}  Ajouter {% endif %} produits </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                {%  if produit %}
                                    {{ form_start(form,{'method': 'post', 'action': path('edit_produit', {id: produit.id}),'attr': {'data-toggle': 'validator'}}) }}

                                {% else%}
                                    {{ form_start(form,{'method': 'post', 'action': path('add_produit'),'attr': {'data-toggle': 'validator'}}) }}

                                {% endif %}
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Image *</label>

                                            <div class="custom-file">
                                                {{ form_widget(form.imageFile ,{'attr': {'class' : 'custom-file-input'}}) }}
                                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Code *</label>
                                            {{ form_widget(form.code , {'attr': {'class' : 'form-control' , 'placeholder': 'Enter Code'}}) }}

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Designation *</label>
                                            {{ form_widget(form.designation ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter Nom'}}) }}

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Quantité *</label>
                                            {{ form_widget(form.quantite ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter Prenom'}}) }}

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Quantité Secoure *</label>
                                            {{ form_widget(form.qteSec ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter Prenom'}}) }}

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Prix *</label>
                                            {{ form_widget(form.prixHT ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter adresse'}}) }}

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Unité *</label>
                                            {{ form_widget(form.unite ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter telephone'}}) }}

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>TVA *</label>
                                            {{ form_widget(form.tva ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter email'}}) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Categorie *</label>
                                            {{ form_widget(form.category ,{'attr': {'class' : 'form-control'}}) }}

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fournisseur *</label>
                                            {{ form_widget(form.fournisseur ,{'attr': {'class' : 'form-control' }}) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description *</label>
                                            {{ form_widget(form.description ,{'attr': {'class' : 'form-control' , 'rows': '4'}}) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>





                                </div>
                                <button type="submit" class="btn btn-primary mr-2">{%  if produit %} Modifier {% else%}  Sauvargarder {% endif %}</button>
                                <button type="reset" class="btn btn-danger">Annuler</button>


                                {{ form_rest(form) }}
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page end  -->
            </div>


        {% endblock %}


{% block javascripts %}
    <script>
        var $country= $('#produit_category');

        $country.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            console.log(data);
            console.log($country.val());
            data[$country.attr('name')] = $country.val();

            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#produit_fournisseur').replaceWith(
                        $(html).find('#produit_fournisseur')
                    );
                }
            });
        });
    </script>
{% endblock %}