{% extends 'base.html.twig' %}

{% block title %} Transfert un devi {% endblock %}

{% block stylesheets %}

{% endblock %}
    {% block smenu %}
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('dashboard_personelle') }}">Tableau de bord</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">BL</a>
            </li>
            <li class="breadcrumb-item">
                <span>transfert</span>
            </li>
        </ul>
    {% endblock %}
        {% block content %}
            <div class="content-box">
                <div class="row">
                    <div class="col-sm-9 col-xxxl-9">
                        <div class="element-wrapper">
                            <h6 class="element-header">
                                Transfert un devi
                            </h6>
                            <div class="element-box" style="min-height: 360px">
                                <form method="post" action=""
                                      class="formAddBl">

                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom01">Client</label>
                                            <input  class="form-control" type="text" value="{{ devis['client']['nom'] }} {{ devis['client']['prenom'] }}"  disabled>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            {#                                            <label for="validationCustom01">N bond Li</label>#}
                                            {#                                            <input type="text" class="form-control numero_achat" value="{{ achat['numero'] }}"#}
                                            {#                                                   id="validationCustom01" required=""#}
                                            {#                                                   name="numero_achat">#}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="">Date du création</label>

                                            <input type="text" id="myDate" class="form-control date_creation"
                                                   value="{{ ('now')| date('d/m/Y') }}" disabled
                                                   placeholder=""
                                                   required=""
                                                   name="date_creation">
                                        </div>
                                        <script>

                                        </script>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-lightborder">
                                            <thead>

                                            <tr id="ligne_achat_1">
                                                <th scope="col">#</th>
                                                <th scope="col">Réference</th>
                                                <th scope="col">PU HT</th>
                                                <th scope="col">Qte</th>
                                                <th scope="col">REMISE (%)</th>
                                                <th scope="col">PU HT Net</th>
                                                <th scope="col">TAXE (%)</th>
                                                <th scope="col">TOTAL HT</th>
                                                <th scope="col">PU TTC</th>
                                                <th scope="col">TOTAL TTC</th>
                                            </tr>
                                            </thead>
                                            <tbody class="tbodyLingeAchat">
                                            {% for art in devis['devisArticles'] %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{ art['article']['ref'] }}</td>
                                                    <td>0.000</td>
                                                    <td>{{ art['qte'] }}</td>
                                                    <td>{{ art['article']['remise'] }}</td>
                                                    <td>{{ art['article']['prixes'][0]['puAchaHT']|number_format(3) }}</td>
                                                    <td>{{ taxe }}</td>
                                                    <td>0.000</td>
                                                    <td>{{ art['article']['prixes'][0]['puVenteTTC']|number_format(3) }}</td>
                                                    <td>0.000</td>
                                                </tr>

                                            {% endfor %}

                                            </tbody>


                                        </table>

                                    </div>

                                    <button type="button"
                                            class="mt-5 btn btn-primary addBL w-100"><i class="fa fa-save"></i>Enregistrer
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xxxl-3">
                        <!--START - Top Selling Chart-->
                        <div class="element-wrapper">
                            <h6 class="element-header">
                                Total
                            </h6>
                            <div class="element-box" style="background-color: rgba(12,12,12,0.25)">

                                <h4 class="card-title">Total HT</h4>
                                <p class="card-text total_ht">0.000 </p>
                                <h4 class="card-title">Total HT NET</h4>
                                <p class="card-text total_ht_net">0.000 </p>
                                <h4 class="card-title">Total remise</h4>
                                <p class="card-text remise">0.000</p>
                                <h4 class="card-title">Total TVA</h4>
                                <p class="card-text total_tva">0.000</p>
                                {#                                <h4 class="card-title">Timbre</h4>#}
                                {#                                <p class="card-text timbre"> </p>#}
                                {#                                <h4 class="card-title">Transports</h4>#}
                                {#                                <p class="card-text transport">0.00</p>#}
                                <hr>
                                <h4 class="card-title">Total TTC</h4>
                                <p class="card-text total_ttc">0.000</p>
                                <h4 class="card-title">Type du paiement</h4>
                                <select name="type_payement" class="form-control type_payement">
                                    <option value="0" selected disabled>Choisir le type du paiement</option>
                                    <option value="1">Espece</option>
                                    <option value="2">Cheque</option>
                                    <option value="3">Carte</option>
                                </select>

                            </div>
                        </div>
                        <!--END - Top Selling Chart-->
                    </div>


                </div>
            </div>

        {% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

    </script>
        <script src="{{ asset('app/js/comercial/bl/transferDevi.js') }}"></script>
{% endblock %}