{% extends 'base.html.twig' %}

{% block title %} Liste des categories {% endblock %}

{% block stylesheets %}

{% endblock %}

        {% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Liste des Categories </h4>

                            </div>
                            <a href="{{ path('add_category') }}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Ajouter un  categorie  </a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive rounded mb-3">
                            {{ include('default/FlashBag/flashBag.html.twig') }}

                            <table class="data-table table mb-0 tbl-server-info">
                                <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data">

                                    <th>Date</th>
                                    <th>Code</th>
                                    <th>Titre</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="ligth-body">
                                {%  for c in categories %}
                                <tr>
                                    <td>{{ c.createdAt|date('d-m-Y') }}</td>
                                    <td>{{ c.code }}</td>
                                    <td>{{ c.title }}</td>
                                    <td>
                                        <div class="d-flex align-items-center list-action">
                                            <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier" href="{{path('edit_category', {id: c.id})}}"><i class="ri-pencil-line mr-0"></i></a>
                                            <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer" href="{{path('delete_category', {id: c.id})}}"><i class="ri-delete-bin-line mr-0"></i></a>
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Page end  -->
            </div>


        {% endblock %}


{% block javascripts %}

{% endblock %}