{% extends 'base.html.twig' %}

{% block title %} {%  if departement %} Modifier {% else%}  Ajouter {% endif %}un département {% endblock %}

{% block stylesheets %}

{% endblock %}

        {% block content %}
            <div class="container-fluid add-form-list">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">{%  if departement %} Modifier {% else%}  Ajouter {% endif %} un département</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                {%  if departement %}
                                    {{ form_start(form,{'method': 'post', 'action': path('edit_departement', {id: departement.id}),'attr': {'class': 'needs-validation' , 'novalidate' : 'novalidate' , 'id' : 'formDepart' }}) }}

                                {% else%}
                                    {{ form_start(form,{'method': 'post', 'action': path('add_departement'),'attr': {'class': 'needs-validation' , 'novalidate' : 'novalidate' , 'id' : 'formDepart' }}) }}

                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Code département *</label>
                                            {{ form_widget(form.codeDeppart ,{'attr': {'class' : 'form-control' , 'placeholder': 'Entre code  du département'}}) }}
                                            <div class="invalid-feedback">
                                                s'il vous plaît entre le code du département
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Libelle *</label>
                                            {{ form_widget(form.libelle , {'attr': {'class' : 'form-control' , 'placeholder': 'Entre le  libelle du département'}}) }}
                                            <div class="invalid-feedback">
                                                s'il vous plaît entre le libelle du département
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">{%  if departement %} Modifier {% else%}  Sauvargarder {% endif %}</button>
                                <button type="reset" class="btn btn-danger">Annuler</button>

                                {{ form_end(form) }}


                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page end  -->
            </div>
        {% endblock %}


{% block javascripts %}

{% endblock %}