{% extends 'base.html.twig' %}

{% block title %} Détail du devi {% endblock %}

{% block stylesheets %}

{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="{{ path('dashboard_personelle') }}">Tableau de bord</a>
               </li>
               <li class="breadcrumb-item">
                   <a href="{{ path('perso_index_devis') }}">devis</a>
               </li>
               <li class="breadcrumb-item">
                   <span>Détail</span>
               </li>
           </ul>
       {% endblock %}

        {% block content %}
            <div class="content-box">
                <div class="row">
                    <div class="col-sm-9 col-xxxl-9">
                        <div class="element-wrapper">
                            <h6 class="element-header">
                                Informations du devi
                            </h6>
                            <div class="order-box">
                                <div class="order-details-box">
                                    <div class="order-main-info">
                                        <span>Numéro devi</span><strong>{{ perfex_devis }}{{ devi['numero'] }}</strong>
                                    </div>
                                    <div class="order-sub-info">
                                        <span>Date de création</span><strong>{{ devi['creadetAt']|date('d/m/Y') }}</strong>
                                    </div>
                                </div>
                                <div class="order-items-table">
                                    <div class="table-responsive">
                                        <table class="table table-lightborder">
                                            <thead>
                                            <tr>
                                                <th scope="col">Réference</th>
                                                <th scope="col">Qte</th>
                                                <th scope="col">Remise %</th>
                                                <th scope="col">P.Vente TTC</th>
                                                <th scope="col">Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for art in devi['devisArticles'] %}
                                                <td>{{ art['article']['ref'] }}</td>
                                                <td>{{ art['qte'] }}</td>
                                                <td>{{ art['remise'] }}</td>
                                                <td>{{ art['pventettc']| number_format(3) }}</td>
                                                <td>{{ art['total']|number_format(3) }}</td>


                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="order-foot">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            {#                                            <h5>#}
                                            {#                                                Notes#}
                                            {#                                            </h5>#}
                                            {#                                            <div class="form-group">#}
                                            {#                                                <textarea class="form-control" placeholder="Enter your notes here..."></textarea>#}
                                            {#                                            </div>#}
                                            {#                                            <button class="btn btn-primary">Save Notes</button>#}
                                        </div>
                                        <div class="col-md-5 offset-md-1">
                                            <h5 class="order-section-heading">
                                            </h5>
                                            <div class="order-summary-row">

                                            </div>
                                            <div class="order-summary-row">
                                                <div class="order-summary-label">
                                                    <span>Total TTC</span>
                                                </div>
                                                <div class="order-summary-value">
                                                  <h4 style="color: red; font-weight: bold">  {{ devi['totalTTC']|number_format(3) }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3 col-xxxl-3">
                        <!--START - Top Selling Chart-->
                        <div class="element-wrapper">
                            <h6 class="element-header">
                                Information du client
                            </h6>
                            <div class="ecommerce-customer-info">
                                <div class="ecommerce-customer-main-info">
                                    <div class="ecc-name">
                                        {{ devi['client']['nom'] }}  {{ devi['client']['prenom'] }}
                                    </div>
                                </div>
                                <div class="ecommerce-customer-sub-info">
                                    <div class="ecc-sub-info-row">
                                        <div class="sub-info-label">
                                            Code TVA
                                        </div>
                                        <div class="sub-info-value">
                                            <a href="#"> {{ devi['client']['codeTVA'] }}</a>
                                        </div>
                                    </div>
                                    <div class="ecc-sub-info-row">
                                        <div class="sub-info-label">
                                            Email
                                        </div>
                                        <div class="sub-info-value">
                                            <a href="#"> {{ devi['client']['email'] }}</a>
                                        </div>
                                    </div>
                                    <div class="ecc-sub-info-row">
                                        <div class="sub-info-label">
                                            Téléphone
                                        </div>
                                        <div class="sub-info-value">
                                            +216  {{ devi['client']['telephone'] }}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="ecc-sub-info-row">
                                        <div class="sub-info-label">
                                            Address
                                        </div>

                                        <div class="sub-info-value">
                                            {{ devi['client']['adresse'] }}
                                            <br>
                                        </div>

                                        <div class="sub-info-value">
                                            {{ devi['client']['country']['name'] }}  ,{{ devi['client']['city']['name'] }}
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END - Top Selling Chart-->
                    </div>

                </div>
            </div>


        {% endblock %}

{% block javascripts %}

{% endblock %}