{% extends 'base.html.twig' %}

{% block title %} {% if article %} Modifier {% else %}  Ajouter {% endif %}un article {% endblock %}

{% block stylesheets %}

{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="index.html">Tableau de bord</a>
               </li>
               <li class="breadcrumb-item">
                   <a href="index.html">articles</a>
               </li>
               <li class="breadcrumb-item">
                   <span>{% if article %} Modifier {% else %}  Ajouter {% endif %}</span>
               </li>
           </ul>
       {% endblock %}

        {% block content %}
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                            {%  if article %}
                                {{ form_start(form,{'method': 'post', 'action': path('edit_article', {id: article.id}),'attr': {'class': 'needs-validation' , 'novalidate' : 'novalidate' , 'id' : 'formValidate' }}) }}

                            {% else%}
                                {{ form_start(form,{'method': 'post', 'action': path('add_article'),'attr': {'class': 'needs-validation' , 'novalidate' : 'novalidate' , 'id' : 'formValidate' }}) }}

                            {% endif %}
                            <h5 class="form-header">
                                {% if article %} Modifier {% else %}  Ajouter {% endif %}un article
                            </h5>
                            <div class="form-desc">
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ref article *</label>
                                    {{ form_widget(form.ref ,{'attr': {'class' : 'form-control' , 'placeholder': 'Enter la reference de l\'article'}}) }}
                                    <div class="invalid-feedback">
                                        s'il vous plaît entre la reference de l\'article
                                    </div>
                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description *</label>
                                    {{ form_widget(form.description , {'attr': {'class' : 'form-control' , 'placeholder': 'Enter le description de l\'article'}}) }}
                                    <div class="invalid-feedback">
                                        s'il vous plaît entre le description de l\'article
                                    </div>
                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Catégorie *</label>
                                    {{ form_widget(form.categorie , {'attr': {'class' : 'form-control'}}) }}
                                    <div class="invalid-feedback">
                                        s'il vous plaît Choisir une categorie
                                    </div>
                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                            </div>
                        </div>


                            <div class="form-buttons-w">
                                <button type="submit" class="btn btn-primary mr-2">{%  if article %} Modifier {% else%}  Enregistrer {% endif %}</button>
                                <button type="reset" class="btn btn-danger">Annuler</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endblock %}


{% block javascripts %}

{% endblock %}