{% extends 'base.html.twig' %}

{% block title %} Liste des factures {% endblock %}

{% block stylesheets %}

{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="{{ path('dashboard_personelle') }}">Tableau de bord</a>
               </li>
               <li class="breadcrumb-item">
                   <a href="#">Facture</a>
               </li>
               <li class="breadcrumb-item">
                   <span>Liste</span>
               </li>
           </ul>
       {% endblock %}

        {% block content %}

            <div class="element-wrapper">
                <h6 class="element-header">
                    Liste des factures
                </h6>
                {{ include('default/FlashBag/flashBag.html.twig') }}

                <div class="element-box">
                    <h5 class="form-header">
                        <a href="{{ path('perso_add_invoice') }}" class="btn btn-primary add-list float-right mb-2"><i
                                    class="las la-plus mr-3"></i>Crée une nouvelle facture </a>

                    </h5>

                    <div class="form-desc">

                    </div>
                    {{ include('commercial/invoice/changeTypePaiement.html.twig') }}
                    <div class="table-responsive">

                        <table id="dataTable1" width="100%" class="table table-striped table-lightfont table_invoice">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Numéro</th>
                                <th>Client</th>
                                <th>Type paiement</th>
                                <th>Statut</th>
                                <th>Devi</th>
                                <th>BL</th>
                                <th>Facture</th>
                                <th>Total TTC</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Numéro</th>
                                <th>Client</th>
                                <th>Type paiement</th>
                                <th>Statut</th>
                                <th>Devi</th>
                                <th>BL</th>
                                <th>Facture</th>
                                <th>Total TTC</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            {% if invoices %}
                                {% for invoice in invoices %}
                                    <tr>
                                        <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
                                        <td>{{ perfex_invoice }}{{ invoice.numero }}</td>

                                        <td>
                                            {% if invoice.bonLivraison %}
                                                {{ invoice.bonLivraison.customer.nom }} {{ invoice.bonLivraison.customer.prenom }}
                                            {% else %}
                                                {{ invoice.customer.nom }} {{ invoice.customer.prenom }}
                                            {% endif %}

                                        </td>
                                        <td>
                                            {%  if invoice.bonLivraison %}
                                            {% if invoice.bonLivraison.typePayement == 1 %}
                                                <span class="mr-2 mb-2 badge badge-success typePaiement_{{ invoice.id }}"> Espace  </span>
                                            {% elseif invoice.bonLivraison.typePayement == 2 %}
                                                <span class="mr-2 mb-2 badge badge-success typePaiement_{{ invoice.id }}"> Cheque  </span>
                                            {% else %}
                                                <span class="mr-2 mb-2 badge badge-success typePaiement_{{ invoice.id }}"> Carte  </span>
                                            {% endif %}
                                            {% else %}

                                                {% if invoice.typePayement == 1 %}
                                                    <span class="mr-2 mb-2 badge badge-success typePaiement_{{ invoice.id }}"> Espace  </span>
                                                {% elseif invoice.typePayement == 2 %}
                                                    <span class="mr-2 mb-2 badge badge-success typePaiement_{{ invoice.id }}"> Cheque  </span>
                                                {% else %}
                                                    <span class="mr-2 mb-2 badge badge-success typePaiement_{{ invoice.id }}"> Carte  </span>
                                                {% endif %}

                                                {% endif %}
                                        </td>
                                        <td>
                                            {% if invoice.status == 0 %}
                                                <span class="mr-2 mb-2 badge badge-warning">En attente  </span>
                                            {% elseif invoice.status == 1 %}
                                                <span class="mr-2 mb-2 badge badge-info"> En cours </span>
                                            {% else %}
                                                <span class="mr-2 mb-2 badge badge-success"> Terminée </span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if invoice.bonLivraison and  invoice.bonLivraison.existDevi %}
                                                <a href="{{invoice.bonLivraison.devi.file }}" target="_blank" class="btn btn-sm btn-primary" title="devi">
                                                    <i class="fa fa-file"></i>
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if invoice.existBl %}

                                                <a href="{{invoice.bonLivraison.file }}" target="_blank" class="btn btn-sm btn-primary" title="BL">
                                                    <i class="fa fa-file"></i>
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {%  if invoice.file %}
                                            <a href="{{invoice.file}}" target="_blank" class="btn btn-sm btn-primary"
                                               title="facture">
                                                <i class="fa fa-file"></i>
                                            </a>
                                            {% else %}
                                                -
                                                {% endif %}
                                        </td>
                                        <td>
                                            {{ invoice.totalTTC|number_format(3) }}
                                        </td>
                                        <td>
                                            <a class="  btn btn-sm btn-icon btn-info"
                                               data-toggle="tooltip"
                                               data-placement="top" title="" data-original-title="Consulter"
                                               style="color: white"
                                               href="{{ path('perso_detail_invoice' , {id : invoice.id}) }}"
                                            >
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <a class="  btn btn-sm btn-icon btn-success"
                                               data-toggle="tooltip"
                                               data-placement="top" title="" data-original-title="Paiement"
                                               style="color: white"
                                               href="">
                                                <i class="fa fa-cc"></i>
                                            </a>
                                            {% if invoice.bonLivraison and  invoice.bonLivraison %}
                                                <button class="  btn btn-sm btn-icon btn-success changePaiement"
                                                        data-target="#onboardingSlideModal"
                                                        data-placement="top" title=""
                                                        data-toggle="modal" type="button"
                                                        data-id_invoice="{{ invoice.id }}"
                                                        data-original-title="Changer le type du paiement"
                                                        style="color: white"
                                                >
                                                    <i class="fa fa-edit"></i>

                                                </button>
                                            {% else %}

                                                <a class="  btn btn-sm btn-icon btn-success changePaiement"
                                                        data-placement="top" title=""
                                                   href="{{ path('perso_edit_invoice' ,  {invoice: invoice.id}) }}"
                                                        data-id_invoice="{{ invoice.id }}"
                                                        data-original-title="Modifier"
                                                        style="color: white"
                                                >
                                                    <i class="fa fa-edit"></i>

                                                </a>
                                            {% endif %}


                                            <button class="  btn btn-sm btn-icon btn-danger printInvoice"
                                                    data-toggle="tooltip"
                                                    type="button"
                                                    data-id_invoice = "{{ invoice.id }}"
                                                    data-placement="top" title="" data-original-title="Imprimer"
                                                    style="color: white"
                                                    href=""
                                            >
                                                <i class="fa fa-print"></i>
                                            </button>

                                            {%  if invoice.status != 2 %}
                                            <a class="  btn btn-sm btn-icon btn-danger deleteInvoice"
                                               data-placement="top" title=""
                                               href="{{ path('perso_delete_invoice' , {id :invoice.id}) }}"
                                               data-id_invoice="{{ invoice.id }}"
                                               data-original-title="Supprimer"
                                               style="color: white"
                                            >
                                                <i class="fa fa-times"></i>

                                            </a>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        {% endblock %}


{% block javascripts %}
    <script src="{{ asset('app/js/comercial/invoice/index.js') }}"></script>

{% endblock %}