{% extends 'base.html.twig' %}

{% block title %}
 {%  if a.status == false %}  Modifier un avoir {% else %} Détail d'avoir {% endif %}
 {% endblock %}

{% block stylesheets %}
{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="{{ path('dashboard_personelle') }}">Tableau de bord</a>
               </li>
               <li class="breadcrumb-item">
                   <a href="{{ path('index_avoir') }}">avoirs</a>
               </li>
               <li class="breadcrumb-item">
                   <span>Modifier</span>
               </li>
           </ul>
       {% endblock %}

        {% block content %}
            <div class="content-box">
                <div class="row">
                    <div class="col-sm-9 col-xxxl-9">
                        <div class="element-wrapper">
                            <h6 class="element-header">
                                Modifier une avoir
                            </h6>
                            <div class="element-box" style="min-height: 360px">
                            {%  if a.status %}
                                <form method="post" action="{{ path('edit_avoir', {id: a.id}) }}" class="formEditBL">
                                {% endif %}
                                    <input type="hidden" class="fodecChecked" name="fodecChecked" value="">

                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom01">factures</label>
                                            <select name="customers"
                                                    class="form-control customers js-example-basic-single">
                                                <option value="0" selected disabled>Choisir une facture</option>
                                                   {% for i in invoices %}
                                                    <option value="{{ i.numero }}" {%  if a.invoice.numero == i.numero %} selected {% endif %}>{{ PREFIX_FACT }}-{{i.numero }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">

                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom01">Date de création</label>
                                            <input type="text" class="form-control date_creation"
                                                   id="validationCustom01" required=""
                                                   value="{{ a.createdAt|date('d/m/Y') }}" disabled
                                                   name="date_creation">
                                        </div>
                                    </div>
                                  <input type="hidden" value="" name="typePayement" class="typePayement">
                                      <input type="text" hidden value="" name="articleToDelete[]"
                                                   class="articleToDelete">


                                    <div class="table-responsive">
                                        <table class="table table-lightborder table_art_bl">
                                            <thead>

                                            <tr id="ligne_achat_1">
                                                     <th scope="col">#</th>
                                                <th scope="col">Réference</th>
                                                <th scope="col">PU HT</th>
                                                <th scope="col">Qte</th>
{#                                                <th scope="col">En stock</th>#}
                                                <th scope="col">REMISE (%)</th>
                                                <th scope="col">PU HT Net</th>
                                                <th scope="col">TOTAL HT</th>
                                                <th scope="col">PU TTC</th>
                                                <th scope="col">TOTAL TTC</th>
                                            </tr>
                                            </thead>
                                            <tbody class="tbodyLingeArticleBL">
                                            {% for art in a.articleAvoirs %}
                                         <tr class="ligne_article">
                                                <td scope="row">
                                                {%  if a.status %}
                                                    <button class="btn btn-danger mr-2

                                                    delete_ligneArticle delete_ligneArticle_{{loop.index}}"
                                                    data-old_article="{{ art.article.id }}"
                                                     data-index="{{loop.index}}"  data-toggle="tooltip" type="button"
                                                       data-placement="top" title="" data-original-title="Supprimer"><i
                                                                class="fa fa-trash"></i></button>
                                                                {% endif %}
                                                                </td>
                                                <td>
                                                    <select class="js-example-basic-single  selectArticle selectArticle_{{loop.index}} article"
                                                     data-old_article="{{ art.article.id }}" data-index="{{loop.index}}" name="article[]">
                                                {% for a in articles %}
                                                                <option value="{{ a.id }}" {% if  art.article.id == a.id %} selected {% endif %}>{{ art.article.ref }}</option>
                                                            {% endfor %}

                                                    </select>
                                                </td>
                                                     <td>
                                                    <input type="text" name="puht" data-index = "{{loop.index}}" value="{{ art.puht|number_format(3) }}" class="form-control  puht puht_{{loop.index}}"  readonly>
                                                </td>
                                                <td>
                                                  <input type="hidden"  class="oldQteArt_{{ loop.index }}" value="{{art.qte}}">
                                                    <input type="text" min="1" name="qte[]" pattern="[0-9]"  data-index = "{{loop.index}}" value="{{ art.qte }}" class="form-control qte qte_{{loop.index}}"  >
                                                </td>
{#                                                <td>#}
{#                                                    {%  for a in articles %}#}

{#                                                   {%  if a.article.id == art.id %}#}

{#                                                   {%  set stocked = a.qte %}#}
{#                                            <input  disabled class="form-control stock stock_{{loop.index}}" value="{{stocked  }}">#}

{#                                                   {% endif %}#}

{#                                                   {% endfor %}#}

{#                                                </td>#}
                                                <td>
                                                    <input type="text" value="{{ art.remise }}" name="remise" data-index = "{{loop.index}}"  class="form-control remise remise_{{loop.index}}" readonly>

                                                </td>
                                                <td>
                                                    <input type="text" name="puhtnet" data-index = "{{loop.index}}" value="{{ art.puhtnet|number_format(3) }}" class="form-control  puhtnet puhtnet_{{loop.index}}" readonly  >
                                                </td>

                                                <td>
                                                    <input type="text" name="totalht[]" value="{{ art.totalht|number_format(3) }}" data-index = "{{loop.index}}" class="form-control totalht totalht_{{loop.index}}"  readonly>

                                                </td>
                                                   <td>
                                                    <input type="text" name="puttc[]" value="{{ art.puttc|number_format(3) }}" data-index = "{{loop.index}}" class="form-control puttc puttc_{{loop.index}}" readonly >

                                                </td>
                                                  <td>
                                                    <input type="text" name="totalttc[]" value="{{ art.totalttc|number_format(3) }}" data-index = "{{loop.index}}" class="form-control totalttc totalttc_{{loop.index}}" readonly >

                                                </td>

                                                                                        </tr>

                                            {% endfor %}
                                            </tbody>


                                        </table>

                                    </div>
                                     {%  if a.status %}
                                    <button type="button" class="mt-2 btn btn-primary float-right addLingeBL"><i
                                                class="fa fa-plus"></i>Autre
                                    </button>
                                    <button type="button" class="mt-5 btn btn-primary editBL w-100"
                                    ><i
                                                class="fa fa-save"></i> Modifier
                                    </button>

                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xxxl-3">
                        <!--START - Top Selling Chart-->
                                        <div class="element-wrapper">
                            <h6 class="element-header">
                                Total
                            </h6>
                            <div class="element-box" style="background-color: rgba(12,12,12,0.25)">
                                <h4 class="card-title">Total HT</h4>
                                <p class="card-text total_ht_global">{{ a.totalHt|number_format(3)}}</p>
                                <h4 class="card-title">Remise</h4>
                                <p class="card-text remise">{{ a.totalRemise|number_format(3)}}</p>
                                <h4 class="card-title">TVA (%)</h4>
                                <p class="card-text total_tva">19</p>
                                     <h4 class="card-title">Timbre</h4>
                                <p class="card-text timbre">0.600</p>
                                {#                                <h4 class="card-title">Timbre</h4>#}
                                {#                                <p class="card-text timbre"> </p>#}
                                {#                                <h4 class="card-title">Transports</h4>#}
                                {#                                <p class="card-text transport">0.00</p>#}
                                <hr>
                                <h4 class="card-title">Total TTC</h4>
                                <p class="card-text total_ttc_global ">{{ a.totalTTC|number_format(3)}}</p>
                                <h4 class="card-title">Type du paiement</h4>
                                <select name="type_payement" class="form-control type_payement">
                                    <option value="0" selected disabled>Choisir le type du paiement</option>
                                    <option value="1" {%  if a.typePayement == 1 %} selected {% endif %}>Espece</option>
                                    <option value="2" {%  if a.typePayement == 2 %} selected {% endif %}>Cheque</option>
                                </select>


                            </div>
                        </div>

                </div>
            </div>


        {% endblock %}

{% block javascripts %}
    <script>   $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

    </script>
{#        <script src="{{ asset('app/js/comercial/bl/editBL.js') }}"></script>#}
        <script src="{{ asset('app/js/comercial/avoirs/edit.js') }}"></script>

{% endblock %}